<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adrian.test" >

    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.adrian.test.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ksiazka"
            android:label="@string/title_activity_ksiazka" >
        </activity>
        <activity
            android:name=".nowe"
            android:label="@string/title_activity_nowe" >
        </activity>
        <activity
            android:name=".zadania"
            android:label="@string/title_activity_zadania" >
        </activity>
        <activity
            android:name=".zadanie"
            android:label="@string/title_activity_zadanie" >
        </activity>
    </application>

</manifest>
